.pop-up {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999;
  /*background-color: rgb(0,0,0) */
  /*background-color: rgba(0,0,0,0.4) */
}

.transparent {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-color: #A8A8A8;
  z-index: 9998;
  opacity: 0.5;
}

.content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  top: 10%;
  width: 500px;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  transform: translateX(-250px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 2s;
  z-index: 9999;
}

.table {
  top: 44px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  overflow-y: auto;
  background-color: white;
}

@-webkit-keyframes animatetop {
  from {
    top: -80%;
    bottom: 100%;
    opacity: 0;
  }
  to {
    top: 10%;
    bottom: 10%;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -80%;
    bottom: 100%;
    opacity: 0;
  }
  to {
    top: 10%;
    bottom: 10%;
    opacity: 1;
  }
}

.header {
  padding: 10px 20px;
  background-color: #ea5959;
  color: white;
  font-size: 17px;
  font-weight: 900;
}

.header img {
  height: 21px;
  margin-top: -2px;
  margin-right: 15px;
}

.header span {
  color: white;
  float: right;
  font-weight: normal;
}

.header span:hover, .header span:focus {
  color: lightgrey;
  text-decoration: none;
  cursor: pointer;
}

.table-events {
  margin: 0;
  padding: 0;
  width: 100%;
}

.table-events tr td:first-child {
  padding: 10px 5px 10px 20px;
}

.table-events tr td:last-child {
  padding: 10px 20px 10px 5px;
}

.table-events tr td {
  padding: 10px 5px;
}

.table-events tr td .information {
  line-height: 28px;
  font-size: 17px;
  font-weight: normal;
}

.table-events tr td img {
  height: 70px;
}

.table-events tr:nth-child(odd) {
  background-color: lightgrey;
}
