.nav {
  height: 72px;
  z-index: 999;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-top: 3px solid black;
  box-sizing: content-box;
}
.nav .logo {
  height: 100px;
  float: left;
  margin-left: 20px;
  margin-top: -3px;
}
.nav ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.nav ul li {
  font-size: 17px;
  font-weight: 900;
  margin-top: -3px;
  display: inline-block;
  height: 72px;
  color: #a8a8a8;
  box-sizing: content-box;
  line-height: 72px;
  padding: 0 20px;
  border-top: 3px solid;
  letter-spacing: 1px;
}
.nav .user-container {
  padding: 0 40px;
  height: 72px;
  width: 320px;
}
.nav .user-container .profile {
  border-radius: 50%;
  height: 50px;
  border: 2px solid white;
  margin: 11px 0;
}
.nav .user-container .fa {
  color: white;
  margin-left: 5px;
}
.nav .user-container-parking {
  background-color: #ea5959;
}
.nav .user-container-weather {
  background-color: #eb9860;
}
.nav .user-container-security, .nav .user-container-securityEmergencyEvent {
  background-color: #52acdb;
}
.nav .user-container-energy {
  background-color: #f3db36;
}
