.security-container {
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
}

.security-container .button {
  box-shadow: none !important;
}

.security-container .list-overflow {
  top: 0px;
  bottom: 120px;
  left: 0px;
  right: 0px;
  position: absolute;
  margin: 00px;
  overflow-y: auto;
}

.security-container .list-overflow .list {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  margin: 20px;
}

.security-container .list-overflow .list .item {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0px;
  margin-bottom: 10px;
  float: bottom;
}

.security-container .list-overflow .list .item .image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
}

.security-container .list-overflow .list .item .title {
  position: absolute;
  left: 60px;
  top: 0px;
  right: 50px;
  height: 50px;
  margin-top: 4px;
  align-items: center;
}

.security-container .list-overflow .list .item .title p {
  font-family: "Lato";
  font-size: 20px;
  color: #666666;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.security-container .list-overflow .list .item .button {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 50px;
}

.security-container .list-overflow .list .item .button .switch {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 20px;
  top: 15px;
  right: 0px;
}

.security-container .list-overflow .list .item .button .switch input {
  display: none;
}

.security-container .list-overflow .list .item .button .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.security-container .list-overflow .list .item .button .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.security-container .list-overflow .list .item .button input:checked + .slider {
  background-color: #52acdb;
}

.security-container .list-overflow .list .item .button input:focus + .slider {
  box-shadow: 0;
}

.security-container .list-overflow .list .item .button input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.security-container .range {
  height: 120px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
  background-color: white;
}

.security-container .range .bottom {
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 20px;
  margin: 0px;
  position: absolute;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: #ccc;
}

.security-container .range .bottom input[type=range] {
  -webkit-appearance: none;
  width: 276px;
  background: transparent;
}

.security-container .range .bottom input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  color: #ccc;
}

.security-container .range .bottom input[type=range]:focus {
  outline: none;
}

.security-container .range .bottom input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: #ccc;
  height: 20px;
}

.security-container .range .bottom input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  content: "";
  height: 16px;
  width: 16px;
  margin: 2px;
  background-color: white;
  cursor: pointer;
}

.security-container .range .bottom input[type=range]::-moz-range-thumb {
  content: "";
  height: 16px;
  width: 16px;
  margin: 2px;
  background-color: white;
  cursor: pointer;
}

.security-container .range .bottom input[type=range]::-ms-thumb {
  content: "";
  height: 16px;
  width: 16px;
  margin: 2px;
  background-color: white;
  cursor: pointer;
}

.security-container .range .top {
  left: 20px;
  right: 20px;
  bottom: 50px;
  top: 20px;
  margin: 0px;
  position: absolute;
  background-color: white;
}

.security-container .range .top .align-left {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 75px;
  position: absolute;
  margin: 0px;
}

.security-container .range .top .align-left p {
  font-family: "Lato";
  font-size: 20px;
  line-height: 25px;
  margin-top: 0px;
  color: #666666;
  text-align: left;
  position: relative;
}

.security-container .range .top .align-right {
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 75px;
  position: absolute;
  margin: 0px;
}

.security-container .range .top .align-right p {
  font-family: "Lato";
  font-size: 20px;
  line-height: 50px;
  margin-top: 0px;
  color: #666666;
  text-align: right;
  position: relative;
}
