html, body {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.nav {
  height: 72px;
  z-index: 2;
  position: relative;
  width: 100%;
  border-top: 3px solid black;
  box-sizing: content-box;
}
.nav .logo {
  height: 100px;
  float: left;
  margin-left: 20px;
  margin-top: -3px;
}
.nav ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.nav ul li {
  font-size: 17px;
  font-weight: 900;
  margin-top: -3px;
  display: inline-block;
  height: 72px;
  color: #a8a8a8;
  box-sizing: content-box;
  line-height: 72px;
  padding: 0 20px;
  border-top: 3px solid;
  letter-spacing: 1px;
}
.nav .user-container {
  padding: 0 40px;
  background-color: #ea5959;
  height: 72px;
  width: 320px;
}
.nav .user-container .profile {
  border-radius: 50%;
  height: 50px;
  border: 2px solid white;
  margin: 11px 0;
}
.nav .user-container .fa {
  color: white;
  margin-left: 5px;
}

.forecast-top {
  height: 75px;
  z-index: 2;
  position: relative;
  width: 100%;
  box-sizing: content-box;
  text-align: center;
}

.forecast-main {
  top: 75px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  overflow-x: auto;
  white-space: nowrap;
}

.forecast-item {
  border: 0px;
  border-right: 1px solid lightgray;
  width: 384px;
  top: 10px;
  bottom: 10px;
  position: relative;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}
.forecast-item .temp {
  display: inline-block;
  margin: 10px;
}

.main {
  height: 100%;
  left: 0px;
  right: 320px;
  position: absolute;
}

.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.background {
  background-image: url("../img/map.png");
  width: 100%;
  top: 75px;
  bottom: 0px;
  position: absolute;
  background-size: cover;
}
.background .side {
  background-color: white;
  width: 320px;
  height: 100%;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px;
  font-size: 17px;
}
.background .side h2 {
  font-size: 24px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}
.background .side h3 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}
.background .side h4 {
  font-size: 17px;
  font-weight: normal;
  color: #a8a8a8;
  margin-top: 0;
  margin-bottom: 10px;
}

.weather-item h2 {
  font-size: 24px;
  font-weight: 900;
  margin-top: 0;
  text-align: center;
  margin-bottom: 10px;
}
.weather-item h3 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}
.weather-item h4 {
  font-size: 17px;
  font-weight: normal;
  color: #a8a8a8;
  margin-top: 0;
  text-align: center;
  margin-bottom: 10px;
}
.weather-item .weather-icon {
  width: 75%;
  margin: 15px auto;
  display: block;
}
.weather-item .pull-right {
  text-align: right;
}

.footer {
  height: 3px;
  background-color: #ea5959;
  width: 100%;
}

.pop-up {
  margin: 40px auto;
  width: 400px;
  border-radius: 15px;
  border: 2px solid red;
}

.pop-up .event-icon {
  width: 25%;
  padding-top: 10px;
  float: left;
}

.pop-up .notif {
  top: 0;
}

.notif {
  position: relative;
  padding: 25px 30px 25px 100px;
  min-height: 50px;
  line-height: 22px;
  border-radius: 2px;
}

.notif .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.notif .close:hover {
  color: #06D85F;
}

.notif .content {
  max-height: 30%;
  overflow: auto;
}

.pop-up p {
  font-size: 11px;
  color: #666;
}

.pop-up h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.pop-up button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid red;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  display: inline;
}

.pop-up button:hover {
  background: red;
}


