@import "variables.scss"

html, body
  margin: 0
  height: 100%
  background-color: #f6f6f6
  font-family: 'Lato', sans-serif

.button
  padding: 7px 17px
  color: #fff
  font-size: 17px
  border: 0px solid
  width: 100%
  text-align: center

.button-red
  background-color: #ea5959

  &:hover
    background-color: #D45A5A

.main
  height: 100%
  left: 0px
  right: 320px
  position: absolute

.angular-google-map-container
  height: 100%
  width: 100%
  position: absolute

.background
  background-image: url('../img/map.png')
  width: 100%
  top: 75px
  bottom: 0px
  position: absolute
  background-size: cover

  .side
    background-color: #fff
    width: 320px
    height: 100%
    color: #000
    position: absolute
    top: 0
    right: 0
    padding: 20px 40px
    font-size: 17px
    overflow-y: auto

    h2
      font-size: 24px
      font-weight: 900
      margin-top: 0
      margin-bottom: 10px

    h4
      font-size: 17px
      font-weight: normal
      color: $grey
      margin-top: 0
      margin-bottom: 10px

.footer
  height: 3px
  background-color: #ea5959
  width: 100%
