<div class="legend-list">
    <div class="legend-item" ng-repeat="type in eventTypes" style="{{type.style}}">
        <div class="legend-img">
            <img ng-src="{{type.icon}}" class="security-icon" height="50px"/>
        </div>
        <div class="legend-title">
            <div class="legend-title-sub">
                <p>{{type.text}}</p>
            </div>
        </div>
        <div class="legend-button">
            <label class="switch">
                <input type="checkbox" id = "{{type.id}}" ng-checked="{{type.checked}}" ng-model="type.checked">
                <div class="slider"></div>
            </label>
        </div>
    </div>
</div>